# **ASSIGNMENT: Python- Data Structure**

  1. What are data structures, and why are they important?

     => Data structures are organized ways to store and arrange data (like lists, tuples, sets, dicts) so operations become efficient. The right structure reduces time/space, makes algorithms simpler, and improves code clarity.

  2. Explain the difference between mutable and immutable data types with   examples.

     => Mutable: can change in place (e.g., list, dict, set).
        Immutable: cannot change once created (e.g., int, float, str, tuple).
        
        Example: lst=[1,2]; lst.append(3) (changes). s="hi"; s.upper() returns a new string.
      
  3. What are the main differences between lists and tuples in Python?

     => Lists: [ ], mutable, typically used for collections that change.
      
      Tuples: ( ), immutable, often used for fixed records/keys, safer for constants.

  4. Describe how dictionaries store data.

     => Dictionaries are hash tables: they map keys to values using a hash function so average-time lookup/insertion is O(1).

  5. Why might you use a set instead of a list in Python?

     => Sets automatically remove duplicates and provide average O(1) membership tests (x in set_obj), which is faster than lists’ O(n).

  6. What is a string in Python, and how is it different from a list?

     => A string is an immutable sequence of characters; a list is a mutable sequence of items. You can’t change a string in place; you can modify a list.

  7. How do tuples ensure data integrity in Python?

     => Being immutable, tuples prevent accidental modification of grouped values, making them good for fixed records and as dictionary keys.

  8. What is a hash table, and how does it relate to dictionaries in Python?

     => A hash table stores key–value pairs in buckets indexed by the key’s hash. Python dict is a highly optimized hash table.

  9. Can lists contain different data types in Python?

     => Yes, a single list can mix int, str, float, even other containers.

  10. Explain why strings are immutable in Python?

     => Immutability enables safe sharing, interning, and hashing of strings, which improves performance and allows strings to be used as dict keys reliably.

  11. What advantages do dictionaries offer over lists for certain tasks?
   
      => Keyed access: O(1) lookup by meaningful keys, clearer code, and no need to scan indexes. Perfect for mappings/records.

  12. Describe a scenario where using a tuple would be preferable over a list.

      => When you want a fixed record (e.g., (latitude, longitude)) or to use the collection as a dict key/set element.

  13. How do sets handle duplicate values in Python?

      => Sets store unique elements only; inserting a duplicate has no effect.

  14. How does the “in” keyword work differently for lists and dictionaries?

      => List: checks if an element exists by scanning (O(n)).

         Dict: checks if a key exists via hashing (average O(1)).

  15. Can you modify the elements of a tuple? Explain why or why not?

      => No, Tuples are immutable; their content (the item references) cannot be reassigned after creation.

  16. What is a nested dictionary, and give an example of its use case?

      => A dictionary whose values are dictionaries. Example: student records:
        students = {"A101": {"name":"Riya","age":20}, "A102":{"name":"Arjun","age":22}} — useful for hierarchical data.

  17. Describe the time complexity of accessing elements in a dictionary.
      
      => Average-case O(1); worst-case O(n) (rare, pathological collisions).

  18. In what situations are lists preferred over dictionaries?

      => When order matters, duplicates are needed, or you only need positional access/iteration without key–value mapping.

  19. Why are dictionaries considered unordered, and how does that affect data retrieval?

      => Historically, dicts didn’t promise order. (Modern CPython preserves insertion order, but algorithmically you should not rely on it for semantics unless specified.) Retrieval by key doesn’t depend on position.

  20. Explain the difference between a list and a dictionary in terms of data retrieval.

     => List retrieval uses integer indices/position; dictionary retrieval uses keys (name-based), typically faster for lookups by label.

# Practical Questions

In [2]:
# 1. Write a code to create a string with your name and print it.
name = "Mohit Kumar"
print(name)

Mohit Kumar

In [7]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(string)
print(len(string))

Hello World
11

In [8]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [9]:
# 4. Write a code to convert the string "hello" to uppercase.
string= "hello"
print(string.upper())

HELLO

In [10]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string= "I like apple"
print(string.replace("apple","orange"))

I like orange

In [11]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers= (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [12]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list= [ 1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [14]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[ 1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list= ['a', 'b', 'c', 'd']
print(list[1])

b

In [18]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list= [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [19]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple= (100, 200, 300)
print(tuple)

(100, 200, 300)

In [20]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple= ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [21]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple= (10, 20, 5, 15)
print(min(tuple))

5

In [22]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple= ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [23]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits= ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [24]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set= {'a', 'b', 'c'}
print(set)

{'a', 'c', 'b'}

In [25]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set= {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [26]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set= {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [27]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1= {1, 2, 3}
set2= {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [28]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1= {1, 2, 3}
set2= {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [29]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict= {"name":"Mohit", "age":24, "city":"Siwan"}
print(dict)

{'name': 'Mohit', 'age': 24, 'city': 'Siwan'}

In [30]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict= {'name': 'John', 'age': 25}
dict["country"]= "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict= {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [32]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [33]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict= {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [34]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list= [1,2,3]
print(list)
tuple= (1,2,3)
print(tuple)
dict= {"name":"Mohit", "age":24, "city":"Siwan"}
print(dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'Mohit', 'age': 24, 'city': 'Siwan'}

In [36]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[7, 38, 53, 81, 98]

In [37]:
# 28. Write a code to create a list with strings and print the element at the third index.
list= ["apple", "banana", "orange", "grape", "kiwi"]
print(list[2])

orange

In [38]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1= {"name":"Mohit", "age":24}
dict2= {"city":"Siwan", "country":"India"}
dict1.update(dict2)
print(dict1)

{'name': 'Mohit', 'age': 24, 'city': 'Siwan', 'country': 'India'}

In [58]:
# 30. Write a code to convert a list of strings into a set.

colour_list = ["red", "green", "blue", "red"]
colour_set = set(colour_list)
print(colour_set)

{'blue', 'red', 'green'}